NEXT_PUBLIC_ASR_MODEL_NAME_OR_PATH=./models/FunAudioLLM/SenseVoiceSmall
NEXT_PUBLIC_TOGEHTER_LLM_MODEL=Qwen/Qwen2.5-72B-Instruct-Turbo
NEXT_PUBLIC_TOGEHTER_IMG_GEN_MODEL=black-forest-labs/FLUX.1-schnell-Free